@ods:registry=https://nexus.devops.onesait.com/repository/onesait-technology-ux/
always-auth=true
strict-ssl=false
//nexus.devops.onesait.com/repository/onesait-technology-ux/:_authToken=NpmToken.218153f7-66a7-3ea8-bf67-2000d0754a1
registry=https://registry.npmjs.org
