@ods:registry=https://nexus.devops.onesait.com/repository/onesait-technology-ux/
always-auth=true
strict-ssl=false
//nexus.devops.onesait.com/repository/onesait-technology-ux/:_authToken=
registry=https://registry.npmjs.org